scikit-learn
pandas
streamlit
hydralit_components
streamlit_option_menu
matplotlib
langchain==0.0.154
PyPDF2
python-dotenv
faiss-cpu
streamlit-extras
openai
chromadb
tiktoken
pysqlite3-binary
