scikit-learn
pandas
streamlit
hydralit_components
streamlit_option_menu
matplotlib
langchain==0.0.154
PyPDF2
python-dotenv
faiss-cpu
streamlit-extras
openai
chromadb
tiktoken
pysqlite3-binary
pypdf2
huggingface-hub==0.14.1
InstructorEmbedding==1.0.1
sentence-transformers==2.2.2
